aside.widget_gildrest_ex_new_posts ul.gre-wnp-lists li.gre-wnp-list {
  padding: 7px 0 7px;
  border-bottom: 1px solid #eaeaea;
  position: relative; }
  aside.widget_gildrest_ex_new_posts ul.gre-wnp-lists li.gre-wnp-list a {
    display: block;
    position: relative; }
    aside.widget_gildrest_ex_new_posts ul.gre-wnp-lists li.gre-wnp-list a:after {
      color: #ccc;
      content: "\f0da";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    aside.widget_gildrest_ex_new_posts ul.gre-wnp-lists li.gre-wnp-list a .inner {
      display: table;
      width: 100%; }
      aside.widget_gildrest_ex_new_posts ul.gre-wnp-lists li.gre-wnp-list a .inner .inner-left {
        display: table-cell;
        vertical-align: top;
        padding-right: 15px; }
        aside.widget_gildrest_ex_new_posts ul.gre-wnp-lists li.gre-wnp-list a .inner .inner-left .thumb {
          background-size: cover;
          background-position: center center; }
      aside.widget_gildrest_ex_new_posts ul.gre-wnp-lists li.gre-wnp-list a .inner .inner-right {
        line-height: 1;
        padding-right: 14px; }
        aside.widget_gildrest_ex_new_posts ul.gre-wnp-lists li.gre-wnp-list a .inner .inner-right time.date {
          color: #999;
          font-size: 12px;
          font-weight: 400;
          margin-bottom: 3px;
          margin: 5px 0 3px;
          display: block; }
        aside.widget_gildrest_ex_new_posts ul.gre-wnp-lists li.gre-wnp-list a .inner .inner-right .title {
          color: #232323;
          font-weight: 600;
          position: relative;
          line-height: 1.5; }

aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-top {
  background: #eaeaea;
  border-radius: 3px;
  padding: 15px 0;
  margin-bottom: 7px; }
  aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-top iframe {
    display: block;
    margin: 0 auto; }

aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-bottom.sns-links-1 .sns-link {
    width: 100%; }
  aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-bottom.sns-links-2 .sns-link {
    width: 49%; }
  aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-bottom.sns-links-3 .sns-link {
    width: 32%; }
  aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-bottom .sns-link {
    text-align: center;
    height: 50px; }
    aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-bottom .sns-link a {
      border-radius: 3px;
      display: block;
      color: #fff;
      height: 50px;
      position: relative; }
      aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-bottom .sns-link a i {
        line-height: 1;
        font-size: 26px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
                transform: translate3d(-50%, -50%, 0); }
      aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-bottom .sns-link a img {
        height: 20px;
        width: auto;
        fill: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
                transform: translate3d(-50%, -50%, 0); }
    aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-bottom .sns-link.sns-link-tw a {
      background: #55acee; }
    aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-bottom .sns-link.sns-link-insta a {
      background-image: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00); }
    aside.widget_gildrest_ex_sns_links .sns-links-container .sns-links-bottom .sns-link.sns-link-line a {
      background: #00c300; }

.gre-share {
  margin: 0 0 20px; }
  .gre-share .gre-share-inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .gre-share .gre-share-inner.gre-share-num-1 .share-link-conatiner {
      width: 100%; }
    .gre-share .gre-share-inner.gre-share-num-2 .share-link-conatiner {
      width: 50%; }
    .gre-share .gre-share-inner.gre-share-num-3 .share-link-conatiner {
      width: 33.333333333%; }
    .gre-share .gre-share-inner .share-link-conatiner {
      text-align: center;
      height: 50px; }
      .gre-share .gre-share-inner .share-link-conatiner:first-child a {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px; }
      .gre-share .gre-share-inner .share-link-conatiner:last-child a {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px; }
      .gre-share .gre-share-inner .share-link-conatiner.share-fb a {
        background: #3b5998; }
        .gre-share .gre-share-inner .share-link-conatiner.share-fb a:before {
          content: "\f09a";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-right: 5px; }
      .gre-share .gre-share-inner .share-link-conatiner.share-tw a {
        background: #55acee; }
        .gre-share .gre-share-inner .share-link-conatiner.share-tw a:before {
          content: "\f099";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-right: 5px; }
      .gre-share .gre-share-inner .share-link-conatiner.share-htb a {
        background: #008fde; }
        .gre-share .gre-share-inner .share-link-conatiner.share-htb a:before {
          content: "B!";
          font-family: Verdana;
          font-weight: 700;
          display: inline-block;
          font-size: 14px;
          line-height: 1;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-right: 5px; }
      .gre-share .gre-share-inner .share-link-conatiner a {
        display: block;
        color: #fff;
        height: 50px;
        position: relative;
        line-height: 50px; }
        @media screen and (max-width: 480px) {
          .gre-share .gre-share-inner .share-link-conatiner a span.share-txt {
            display: none; } }
